<!-- templates/create_event.html -->
{% extends 'project/base.html' %}

{% block content %}

<h2 style='color:darkred'>Add a new event</h2>

<form method='POST'>

{% csrf_token %}
    <table>
        {% for field in form %}
        <tr>
            <th style='color:white'>{{field.name}}</th>
            <td>{{field}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                <input type='submit' name='Add event' value='Add event'>
            </td>
        </tr>
    </table>

</form>
{% endblock %}