<!-- project/home.html -->
{% extends 'project/base.html' %}

{% block content %}

<h1 style='color:darkred'>Boston University Cheerleading, All Girl Division I</h1>
<p style='color:whitesmoke'>
    <center style='color:whitesmoke'>The Boston University Cheer Team is a group of talented women brought together by a strong passion for cheerleading. BU Cheer's primary goal is to promote Terrier spirit throughout Boston University and in the community. <br><br>
    Check out this website to see our roster, schedule of upcoming events and competition results!<br><br>
    Go BU!</center>
</p>
<center><img src='https://blogs.bu.edu/cheerbu/files/2018/12/78.0-1024x683.jpg' style='max-width: 500;'></center>

{% endblock %}