{% extends 'mini_fb/base.html' %}

{% block content %}
<h1>Showing all profiles</h1>
<table>
    <colgroup>
        <col span="1" style="width: 40%">
        <col span="1" style="width: 40%">
        <col span ="1" style="width: 40%">
    </colgroup>

        <tr>
            <th>Name</th>
            <th>Hometown</th>
            <th>Image</th>
        </tr>

    <!-- {% for profile in profile_list %} -->
        <tr>
            <td><a href='{% url "show_profile_page" profile.pk %}'>{{profile.first_name}} {{profile.last_name}}</td></a>
            <td>{{profile.city}}</td>
            <td><img src="{{profile.image_url}}" style="max-width: 200;"></td>
        </tr>

    <!-- {% endfor %} -->
</table>
</form>
{% endblock %}